# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Package Files #
*.war
*.ear

*.iml
*.ipr
*.iws
*.DS_Store
.DS_Store
.idea
.idea/**
.idea/**/*
.gradle
target/**
target/**/*
build/**
build/**/*

